@import "variables";

.menu {
  height: 100vh;
}
li {
  font-family: 'Antic', serif ;
  font-size: large;
  padding: 5px;
  list-style: none;
  & a {
    color: $second;
  }
  > :hover {
    color: $third;
  }
}

.logo {
  margin: 25px;
  padding-left: 15px;
  & img {
    border-radius: 100%;
    height: 75px;
    width: 75px;
  }
}
