{% extends 'layout/base.html.twig' %}

{% block title %}
    Présentation
{% endblock %}

{% block body %}

    <h1>
        Christophe KLEITZ
    </h1>
    <h2>
        Développeur Web/Mobile junior
    </h2>

    <div class="text-white">
    <p>
        Après des études initiales dans l'ingénierie
        non achevées, j'ai du enchainer des jobs
        alimentaires. Envieux d'avoir une réelle
        carrière professionnelle et un métier
        challengeant, j'ai décidé de me réorienter
        dans le développement web via la Wild
        Code School. Arrivant en fin de formation,
        je suis à la recherche d'opportunités pour
        continuer mon épanouissement et ma
        montée en compétences.
    </p>
        <p>
            Maintenant que les présentations sont faites, je vous laisse découvrir mon CV en ligne.
            <br>
            Vous y trouverez un résumé de mon passé professionnel ainsi que les réalisations que j'ai déjà produites.
            <br>
            Vous pourrez me joindre via le formulaire de contact pour toutes informations supplémentaires.
        </p>
    </div>
{% endblock %}
