<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/build/images/me.jpg"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Antic&family=Bodoni+Moda&display=swap" rel="stylesheet">
        <title>{% block title %} Christophe Kleitz {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-1">
                {% include 'layout/_navbar.html.twig' %}
            </div>
            <div class="col-lg-10 col-md-11">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}


                {% endfor %}
                {% block body %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <h1>
                        Bienvenue sur ton CV couillon ! :)
                    </h1>
                {% endif %}
                {% endblock %}
                <p class="quote">
                    Un jour, un grand sage a dit:
                    <q> Tout le monde peut devenir dév avec l'envie et un bon accompagnement</q>,
                    ce sage avait un nom: Yavuz KUTUK
                </p>
            </div>
        </div>
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
